<ul class="nav nav-tabs nav-justified">
	<li role="presentation" class="active"><a href="/presses/features">features</a></li>
	<li role="presentation"><a href="/presses/interviews">interviews</a></li>
	<li role="presentation"><a href="/presses/other">other</a></li>
</ul>