	
<%= render 'press_nav' %>

<div class="container">

	<h1>all features index</h1>

	<% if !@features.nil? %>
		<% @features.each do |feature| %>


		<div class="row">
		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		      
		      <%= image_tag interview.photo_url %>
		    </a>
		  </div>
		</div>
		<% end %>
	<% end %>
</div>