	
<%= render 'press_nav' %>

<div class="container">

	<h1>all interviews index</h1>

	<div class="row">
	<% if !@interviews.nil? %>
		<% @interviews.each do |interview| %>

		
		  <div class="col-xs-6 col-md-3">
		    <a href="#" class="thumbnail">
		      
		      <%= image_tag interview.photo_url, 'data-src'=>"holder.js/100%x180", 'alt' => "..." %>
		    </a>
		  
		</div>

			
		<% end %>
	<% end %>
</div>
</div>