<!DOCTYPE html>
<html>
<head>
  <title>AnnieSite</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<ul class="nav nav-tabs nav-justified">
		<li role="presentation"><a href="/pages/about">about</a></li>
		<li role="presentation"><a href="/projects/project_index">projects</a></li>
		<li role="presentation"><a href="/items/fashion_index">fashion expert</a></li>
		<li role="presentation"><a href="poet_items#index">poet</a></li>
		<li role="presentation"><a href="/presses/press_index">press</a></li>
		<li role="presentation"><a href="#">videos</a></li>
		<li role="presentation"><a href="#">gallery</a></li>

	</ul>

	<%= yield %>

</body>
</html>
