<!DOCTYPE html>
<html>
<head>
  <title>AnnieSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<ul class="nav nav-tabs nav-justified">
		<li role="presentation" class="active"><a href="/pages/about">about</a></li>
		<li role="presentation"><a href="/items/project_index">project director</a></li>
		<li role="presentation"><a href="/items/fashion_index">fashion expert</a></li>
		<li role="presentation"><a href="poet_items#index">poet</a></li>
		<li role="presentation"><a href="/items/feature_index">press</a></li>
		<li role="presentation"><a href="#">videos</a></li>
		<li role="presentation"><a href="#">gallery</a></li>

	</ul>
<div class="container">

<%= yield %>
</div>
</body>
</html>
